// Define variables for your color scheme

// For example:
$red: #BC4749;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #52b788;
$gray: #CCCCCA;
$light-gray: #F4F4F4;
$eggshell: #F2E8CF;
$black: #111111;
$black-gray:#161a1d;

$skin:#fcb07e;
