<h1>Your reservation</h1>

  Votre réservation :
  <% order.bookings.each do ¦bookgin| %>
    <%= booking.start_at %> - <%= booking.end_at %>
  <% end %>

  <h2> See you soon, Access Inn team</h2>
</div>