.container-contact{
  margin:auto;
  width:95vw;
  padding:30px;
  .contactus{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    label {
    color: $red;
    font-size: 15px;
    align-self:center;
    }

  }
  .informations{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-size: 13px;

  }
  .size{
    font-size:30px;
  }
  .map-contact{
    height:200px;
    margin-top: 10px;
  }
}

@media(max-width: 620px) {
  .container-contact{
    .contactus{
      display:grid;
      grid-template-columns: 1fr;
    }
    .open{
      display:none;
    }
    .number{
      display:none;
    }
}

}

