// Specific CSS for your home-page
body{
  background-color:white;
}

.container-hotel{
  margin: auto;
  width: 90vw;
  color:$black;
}

.photo-reception{
  width: 380px;
  height: 250px;
  position:absolute;
  top: 20px;
  right: 250px;
}

.photo-buddha{
  position:absolute;
  top: 280px;
  right: 150px;
  width: 380px;
  height: 250px;
}

.photo-buddha-white{
  position:absolute;
  top: 70px;
  right: 20px;
  height: 380px;
}

.hotel-home{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  position:relative;
  justify-content:center;
  align-items:center;
}


@media(max-width: 620px) {
  .hotel-home {
    grid-template-columns: 1fr;
    }
  }
