.title-room-show{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  margin: 0;
  letter-spacing: .2rem;
  color: $black;
}

.title-similar-room{
  padding-top: 25px;
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
  letter-spacing: .1em;
  color: $black;
}

.calendar-booking{
  height: 430px;
}

.photo-room-calendar{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.photo-room{
  margin-right: 50px;
  width: 750px;
}

.column-calendar {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.photo-show-size{
  width: 60vw;
  height: 380px;
}

.photo-show-banner{
  width: 100vw;
  height: 350px;
}

.services-show{
  display:flex;
  justify-content:space-between;

  #icone-css-show {
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    width:60px;
    }
  #svg-css-show {
    height: 75px;
    width:75px;
    }
  .size-number-show{
    font-size:20px;
    font-weight:bold;
  }
}

#black-opacity{
  color:rgba(17, 17, 17, 0.3)
}
.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
}
  .services-svg {
    display:flex;
  }

.hotel-facilities{
  display:flex;
  justify-content:space-between;
  .container-card-facilities{
    width: 240px;
    justify-self: center;
    }
}
.services-svg{
  margin:10px;
}

@media(max-width: 1200px) {
  .photo-room{
    margin: 0 auto;
    width: 750px;
  }
  .column-calendar{
    margin: 0 auto;
    margin-top: 20px;
  }
  .photo-room-calendar{
    display:grid;
    grid-template-columns: 100%;
    .photo-show-size{
      width: 90vw;
      height: 300px;
    }
    .calendar-booking{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      height: 450px;
    }
  }
  .hotel.facilities{
  justify-content:center;
  }
  .title-similar-room{
    text-align:left;
  }
  .line{
    text-align:center;
  }
  .display-flex-similar-room {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media(max-width: 800px){
  .column-calendar{
    width: 100%;
  }
  .photo-room{
    width: 100%;
  }
  .photo-room-calendar{
    .calendar-booking{
      height: 430px;
    }
  }
  .services-grid{
    grid-template-columns: 1fr 1fr;
  }
   .hotel-facilities{
    flex-direction: column;
    align-items:center;
  }
}

@media(max-width: 650px){
  .services-show{
    display:grid ;
    justify-content:center;
    text-align:center;
    align-items:center;
    }

    #icone-css-show{
        margin-top: 30px;
      }
    .padding-responsive{
      padding-left:10px;
    }
     .hotel-facilities{
      display:grid ;
      grid-template-columns: 100%;
      justify-content:left;
    }

    .display-flex-similar-room {
      align-items: flex-start;
  }


  }







