.svg-order{
  margin-top: 30px;
  margin-bottom:30px;
}

.confirmation-reservation{
  margin-top: 100px;
}

.svg-paiement{
  display:flex;
  grid-template-columns: 1fr 1fr;
  align-item:center;
  .text-pickup{
    margin-bottom:20px;
    }
}

.color-red{
  color:$red;
}

@media(max-width: 650px){
  .svg-order{
    height: 100%;
    width:100%;
  }
  .svg-paiement{
    display:grid;
    grid-template-columns: 1fr;
  }
}
