<footer>
  <div class="footer-pattaya">
    <div class="logos">
      <%= link_to "https://www.facebook.com/accessinnpattaya", target: "_blank", class: "btn-floating btn-fb mx-1 link-without-style" do %>
        <i class="fab fa-facebook-f mx-2 style-picto"> </i>
      <% end %>
      <%= link_to "https://www.facebook.com/accessinnpattaya", target: "_blank", class: "btn-floating btn-fb mx-1 link-without-style" do %>
        <i class="fab fa-instagram mx-2 style-picto"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/accessinnpattaya", target: "_blank", class: "btn-floating btn-fb mx-1 link-without-style" do %>
        <i class="fab fa-facebook-f mx-2 style-picto"> </i>
      <% end %>
      <%= link_to "https://www.facebook.com/accessinnpattaya", target: "_blank", class: "btn-floating btn-fb mx-1 link-without-style" do %>
        <i class="fab fa-instagram mx-2 style-picto"></i>
      <% end %>
    </div>
    <div class="address-footer">
      <i class="fas fa-home mr-3 style-picto "></i>
      315/29 Moo 9, Nongprue, Banglamung, Chonburi Pattaya, Thailand
    </div>
    <div class= "email-phone">
      <div class="email-footer">
        <i class="fas fa-envelope mr-3 style-picto"></i>
        reservations@accessinnpattaya.com
      </div>
      <div class="phone">
        <i class="fas fa-phone mr-3 style-picto"></i>
        +66(0) 38 721 076
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="link-without-style" href="http://www.amandyneverdonck.com"> accessinnpattaya.com</a>
  </div>
</footer>
