<div class="banner-event">
  <span class="name">Events</span>
</div>

<div class="container">
  <div class="text-center">
    <p class=" pt-4 line">_______</p>
  <h1 class="pt-3 title-home"><%= t('page.event.title-event') %></h1>
  <p class="mt-5 "><%= t('page.event.text-event') %></p>
  <p class="my-5 "><%= t('page.event.text-event-two') %></p>
  <%= link_to t('page.home.contact-us'), contact_path, class: "button-access link-without-style " %>
</div>

<div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container-general">
            <div class="gallery-wrap wrap-effect-1">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          <div class="container-svg pt-2">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
          </div>
          </div>
        </div>
      </span>
        <div class="swiper-slide">
          <div class="container-general">
            <div class="gallery-wrap wrap-effect-2">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div class="container-svg pt-2">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
            </div>
          </div>
        </div>
         <div class="swiper-slide">
          <div class="container-general">
            <div class="gallery-wrap wrap-effect-2-bis">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
            <div class="container-svg pt-2">
              <div class="chevron"></div>
              <div class="chevron"></div>
              <div class="chevron"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container-general">
            <div class="gallery-wrap wrap-effect-3">
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
</div>
