<div class="banner-resto">
  <span class="name">Events</span>
</div>

<div class="container">
  <div>
      <p class="pt-4 line">_______</p>
    <h1 class="pt-1 title-home"><%= t('event.title-event') %></h1>
    <p></p>
  </div>

   <div id="gallery-container">
    <img class="gallery-tile" src="https://i.pinimg.com/originals/bf/30/db/bf30db84f1668417234115911b971e65.jpg"/>

    <img class="gallery-tile" src="https://i2.wp.com/offbeatbride.com/files/2011/08/succulent-terrarium-047.jpeg?fit=799%2C531&ssl=1" />

    <img class="gallery-tile" src="https://redtri.com/wp-content/uploads/2020/07/Geometric-Terrarium-2.jpg?w=458"/>

    <img class="gallery-tile" src="https://images.crateandbarrel.com/is/image/Crate/PottedSucculentsS4SHS19/$web_pdp_main_carousel_high$/190411135345/potted-succulents-s-4.jpg" />

    <img class="gallery-tile" src="https://www.coolgreenandshady.com/wp-content/uploads/2019/07/Product_Sleek-Succulents_IMG-1833.jpg"/>

    <img class="gallery-tile" src="https://redtri.com/wp-content/uploads/2020/07/Geometric-Terrarium-2.jpg"/>

    <img class="gallery-tile" src="https://www.viviano.com/images/prodshots_new/85919S_z.jpg" />

    <img class="gallery-tile" src="https://www.sublimesucculents.com/wp-content/uploads/2019/01/adventuresincookingcom.jpg" />

    <img class="gallery-tile" src="https://cdn.shopify.com/s/files/1/1162/6338/files/how-to-water-succulents-in-a-terrarium2_large.jpg?v=1492784728" />

    <img class="gallery-tile" src="https://cdn.shopify.com/s/files/1/1023/4337/products/product-listing-succulent-terrarium_grande.jpg?v=1517508241" />

    <img class="gallery-tile" src="https://www.coolgreenandshady.com/wp-content/uploads/2019/07/Product_Sleek-Succulents_IMG-1833.jpg"/>

    <img class="gallery-tile" src="https://thepracticalplanter.com/wp-content/uploads/2019/03/Succulent-Terrarium-1.jpg" />

  </div><!-- gallery-container -->
</div>
