<div class="banner-show">

</div>

<div class="container-index">

  <div class="title-room-show">
    <h2 class="title-room-show"> <%= @room.category.name %> </h2>
  </div>

  <div class="photo-room-calendar">
    <div class="photo-room">
      <%= image_tag 'rooms/' + @room.photo, class: 'photo-show-size' %>
    </div>

    <div class="calendar-booking">

    </div>

  </div>































</div>
