<div class="banner-show">

</div>

<div class="container-index">

  <div class="title-room-show">
    <h2 class="title-room-show"> <%= @room.category.name %> </h2>
  </div>

  <div class="photo-room-calendar">
    <div class="photo-room">
      <%= image_tag 'premiumdeluxeblue2-room.jpg', class: 'photo-show-size' %>
    </div>

    <div class="calendar-booking">

    </div>

  </div>
  <%= render '/bookings/form', booking: @booking %>
































</div>
>>>>>>> 66df5b07b1e0220c208bd69d5088ef0f386b065b
