.button-access{
  color: $red;
  padding: 15px 30px;
  font-size: 15px;
  background:none;
  border: 2px solid $red;
}

.button-access:hover{
  color: $red;
  font-weight:bold;
}

.button-access-calendar{
  color: white;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  background:$red;
  border: 2px solid $red;
  font-family:$body-font;
}

.button-access-calendar-square{
  color: white;
  width: 100%;
  padding: 15px 15px;
  font-size: 15px;
  background:$red;
  border: 2px solid $red;
  font-family:$body-font;
}

.button-access-calendar:hover{
  color:$white;
  font-weight:bold;
  background-color:$black;
  border: none;
}

.button-access-book{
  color: white !important;
  padding: 15px 20px;
  font-size: 15px;
  background:$red;
  border: 2px solid $red;
}

.button-access-book:hover{
  color: white !important;
  font-weight:bold;

}

@media(max-width: 650px){
  .button-access-calendar{
    font-size:12px;
    font-weight:bold;
    height:100px;
  }
}
