.contact-form-text-area{
  width: 50vw;
}

.form-control-access {
  i {
    visibility:hidden;
  }

  small {
    visibility:hidden;
  }
}

.hidden{
  visibility:hidden
}

.form-control-access.success input {
  border-color: green;
}
.form-control-access.success i.fa-check-circle {
  color: green;
  visibility: visible;
}
.form-control-access.failed input {
  border-color: $red;
}

.form-control-access.failed small {
  visibility: visible;
  color:$red;
}

.form-control-access.failed i.fa-exclamation-circle {
  color: $red;
  visibility: visible;
}

