

.style-picto{
  color: $red;
}

.style-social{
  color: white;
  background-color: $red;
  width: 10px;
  height: 10px;
  border-radius:  50% 20% / 10% 40%;
}
.column-footer{
  display:flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  align-items:center;
  justify-content:space-around;
  }
.font-size-copyright{
  font-size:8px;
  margin:10px;
}

footer{
  background-color: $black;
  color: white;
  font-size:12px;
  padding:5px;
}
