.link-without-style {
    text-decoration:   none;
    color:$black;
    &:hover {
      text-decoration: none;
      color:$red;
    }
  }

  .link-without-style-white {
    text-decoration:   none;
    color:$white;
    &:hover {
      text-decoration: none;
      color:$red;
    }
  }
