.navbar-pattaya {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: $black;
  .navbar-brand img {
    width: 40px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .nav-item.active-pattaya > .nav-link {
    color: $red;
    font-weight: 600;
    border-bottom: 2px solid $red;
  }
  .button-access-book{
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    align-items: center;
    justify-content:center;

  }
}
  .navbar-toggler {
  color:white !important;
}
  .navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
  .navbar-nav .nav-item:hover .nav-link{
    color: $red;
    font-weight: 600;
  }

  .navbar-nav .nav-item:hover {
    color: $red;
    font-weight: 600;
  }

  .avatar-nav{
    display:flex;
    align-items: center;
    justify-content:center;

  }

@media (max-width: 576px){
  .navbar-pattaya {
    flex-direction: column;
    .navbar-brand{
      margin: 0;
    }
    .nav-link{
      text-align: center;
    }
    .nav-item.dropdown{
      display: flex;
      justify-content: center;
    }
    .button-access-book {
      margin-top:10px;
      margin-bottom: 10px;
    }
  }
}
